@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --border: #27272a;
        /* zinc-800 */
        --surface: #18181b;
        /* zinc-900 */
        --surface2: #27272a;
        /* zinc-800 */
        --text: #ffffff;
        --muted: #a1a1aa;
        /* zinc-400 */
        --primary: #2563eb;
        /* blue-600 */
    }

    /* GLOBAL RESET */

    *,
    ::before,
    ::after {
        border-width: 0px;
        border-style: solid;
        border-color: #27272a;
    }

    html,
    body,
    #root {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;

        /* CHANGED: Background is now Dark Gray (Zinc-900) instead of Black */
        background-color: #18181b !important;
        color: #ffffff !important;
    }

    body {
        @apply antialiased;
    }
}

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }

    .pt-safe {
        padding-top: env(safe-area-inset-top);
    }
}